body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#input input{
  size: 15px;
  margin-right: 0.5%;
}

#goal{
  width: 60px;
}


table.recotab {
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 2px #707070; /* this draws the table border  */ 
  table-layout: fixed;
  width: 500px;  
}

table.recotab thead {
  border-radius: 5px;
  border: 3px solid #707070;
  height: 52px;
}

table.recotab tr {
  border-radius: 5px;
  border: 1px solid #707070;
  padding: 5px;
  font-size: 15px;
}

table.recotab tr:hover {
  background-color: #777777;
  cursor: pointer;
}

table.recotab td, th {
  text-align: center;
  border: 1px solid #707070;
}

table.recotab th {
  font-size: 18px;
  font-weight: bold;
}

table.recotab th.point
{
  width: 30%;
}

table.recotab th.star
{
  width: 40%;
}

table.recotab th.title
{
  width: 60%;
}

table.recotab table tr:last-child td:first-child 
{
  border-bottom-left-radius: 5px;
}

table.recotab table tr:last-child td:last-child 
{
  border-bottom-right-radius: 5px;
}

table.recotab table td:last-child
{
  text-align: left;
  padding: 15px;
}

#Allcover{
  position: absolute;
}

#leftTop{
  position : absolute;
  left: 30px;
  top: 30px;
  width: 700px;
  border-radius: 40px 40px 40px 40px;
  
}

#leftCenter{
  visibility : hidden;
  position : absolute;
  left: 60px;
  top: 100px;
  width: 700px;
  border-radius: 40px 40px 40px 40px;
  
  
}
#lecDetailtab td.professor{
  cursor:pointer;
}

#leftBelow{
  visibility : hidden;
  position : absolute;
  left: 20px;
  top: 430px;
  width: 700px;
  border-radius: 40px 40px 40px 40px;
  
}
#centerBelow{
  visibility : hidden;
  position : absolute;
  left: 540px;
  top: 430px;
  width: 800px;

}
#centerBelow table{
  border: 1px solid black;
  border-collapse: collapse;

}
#centerBelow th{
  font-size: 17px;
  border: 1px solid black;
  width: 100px;

}
#centerBelow td{
  font-size: 14px;
  border: 1px solid black;
  width: 400px;

}
#rightBelow{
  visibility : hidden;
  position : absolute;
  left: 1060px;
  top: 430px;
  width: 800px;
}
#rightBelow table{
  border: 1px solid black;
  border-collapse: collapse;
  table-layout:auto;
  text-align:center;
  width: 450px;
  height: 300px;
  
}
#rightBelow th{
  font-size: 16px;
  border: 1px solid black;
  width: 130px;
}
#rightBelow th.process_right_below{

  width: 80px;
}
#rightBelow th.credit_right_below{

  width: 50px;
}
#rightBelow th.grade_right_below{

  width: 70px;
}
#rightBelow th.again_right_below{

  width: 80px;
} 
#rightBelow td{
  font-size: 13.2px;
  border: 1px solid black;
}



